@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');
/*color pallette https://coolors.co/336699-86bbd8-2f4858-9ee493-daf7dc*/
body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color:#9CAEA9;
}

.bg1{
    background-color:#336699;
}
a{
    text-decoration: none;
}
html {
    font-size: 1rem;
  }
  
  @include media-breakpoint-up(sm) {
    html {
      font-size: 3rem;
    }
  }
  
  @include media-breakpoint-up(md) {
    html {
      font-size: 4rem;
    }
  }
  
  @include media-breakpoint-up(lg) {
    html {
      font-size: 5rem;
    }
  }